.app.app-navy aside.app-sidebar {
  background-color: #FFF; }
  .app.app-navy aside.app-sidebar .sidebar-header .sidebar-brand .highlight {
    background-color: #0A1123; }
  .app.app-navy aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a .icon {
    background-color: rgba(141, 146, 147, 0.15);
    color: rgba(141, 146, 147, 0.45); }
  .app.app-navy aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a .title {
    color: #8d9293; }
  .app.app-navy aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.active > a .icon {
    background-color: rgba(10, 17, 35, 0.25);
    color: rgba(10, 17, 35, 0.75); }
  .app.app-navy aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.active > a .title {
    color: #0A1123; }
  .app.app-navy aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.dropdown > .dropdown-menu > ul > li.section {
    color: #0A1123; }
  .app.app-navy aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.dropdown.open > a:after {
    border-right-color: #FFF; }
  .app.app-navy aside.app-sidebar .sidebar-footer {
    border-top-color: rgba(0, 0, 0, 0.1);
    background-color: #FFF; }
    .app.app-navy aside.app-sidebar .sidebar-footer ul.menu > li.dropdown .dropdown-menu {
      border-bottom-color: #0A1123; }

.app.app-navy .navbar .navbar-header .navbar-brand .highlight, .app.app-navy .navbar .navbar-mobile .navbar-brand .highlight {
  background-color: #0A1123; }
/*ct = cart
#29c75f = green default*/
.app.app-navy .ct-series-a .ct-bar, .app.app-navy .ct-series-a .ct-line, .app.app-navy .ct-series-a .ct-point {
  stroke: #0A1123; }

.app.app-navy .ct-series-a .ct-area {
  fill: #0A1123; }

.app.app-navy .ct-series-a .ct-slice-pie {
  fill: #0A1123;
  stroke: #FFF;
  stroke-width: 3; }

.app.app-navy .ct-series-a .ct-slice-donut {
  stroke: #0A1123; }

.app.app-navy .ct-series-b .ct-bar, .app.app-navy .ct-series-b .ct-line, .app.app-navy .ct-series-b .ct-point {
  stroke: #29c75f; }

.app.app-navy .ct-series-b .ct-area {
  fill: #29c75f; }

.app.app-navy .ct-series-b .ct-slice-pie {
  fill: #29c75f;
  stroke: #FFF;
  stroke-width: 3; }

.app.app-navy .ct-series-b .ct-slice-donut {
  stroke: #29c75f; }

.app.app-navy .ct-series-a:after {
  background-color: #0A1123; }

.app.app-navy .ct-series-b:after {
  background-color: #29c75f; }

.app.app-navy .card-banner .ct-series-a .ct-bar, .app.app-navy .card-banner .ct-series-a .ct-line, .app.app-navy .card-banner .ct-series-a .ct-point {
  stroke: #FFF; }

.app.app-navy .card-banner .ct-series-a .ct-area {
  fill: #FFF; }

.app.app-navy .card-banner .ct-series-a .ct-slice-pie {
  fill: white;
  stroke: #FFF;
  stroke-width: 3; }

.app.app-navy .card-banner .ct-series-a .ct-slice-donut {
  stroke: #FFF; }

.app.app-navy .card.card-tab .card-header > ul > li.active a, .app.app-navy .card.card-tab ul.nav-tabs > li.active a {
  color: #0A1123; }

.app.app-navy .card.card-tab > .ng-isolate-scope > .nav-tabs > li.active a {
  color: #0A1123; }
/*cardNAVY*/
  .card.card-navy {
    background-color: #0A1123; }
    .card.card-navy .card-body .icon {
      color: #FFF;
      background-color: rgba(255, 255, 255, 0.05); }
    .card.card-navy .card-body .content .value {
      color: #FFF; }
    .card.card-navy-light {
      background-color: #FFF; }
      .card.card-navy-light .card-body .icon {
        color: #0A1123;
        background-color: rgba(255, 188, 17, 0.05); }
      .card.card-navy-light .card-body .content .value {
        color: #0A1123; }
      .card.card-navy-light:hover {
        background-color: #0A1123; }
        .card.card-navy-light:hover .card-body .icon {
          color: #FFF;
          background-color: rgba(255, 255, 255, 0.1); }
        .card.card-navy-light:hover .card-body .content .title, .card.card-navy-light:hover .card-body .content .value {
          color: #FFF; }
    .card.card-navy.card-chart .card-header {
      background-color: #0A1123;
      color: #0A1123; }
/*btn-bg-navy*/
.btn-floating .btn-bg-navy {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0a1123;
    box-shadow: 0 1px 3px #0a1123;
    z-index: 101108;
    transition: all 0.3s ease;
}
.btn-floating.active .btn-bg-navy {
    border-radius: 3px; 
}

/*change color block*/

::selection {
  background: #0a1123;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #0a1123; /* Firefox */
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #0a1123; /* Safari */
  color: #FFF;
  text-shadow: none;
}